# Not redistributable legally.
# The player must download it from an external source.
/packages

# Compiled binaries and libraries.
/bin
/bin64
/bin_unix
/sauerbraten.app
/src/lib
/src/lib64
/src/sauer_client
/src/sauer_server
*.o
*.a
*.h.gch

# HTML documentation which is already available on sauerbraten.org or in the SVN repository.
/docs
